@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-container {
  background-image: url("/svg-background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide img.testimonial-image {
  width: 70px;
  height: 70px;
  border-radius: 10rem;
}
.swiper-button-next::after {
  color :#3A1D5A;
}
.swiper-button-prev::after {
  color:  #3A1D5A;
}
.slider-card {
  background-color: #FDE9FF;
  border: 1px solid #9048E2;
  border-radius: 5px;
  box-shadow: 0px 4px 40px 5px #00000040;
}
.contact-background {
  background: linear-gradient(0deg, rgba(46, 17, 60, 0.4), rgba(46, 17, 60, 0.4)), url(https://images.unsplash.com/photo-1497366216548-37526070297c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonial-highlight {
  color: #3A1D5A
}
.bg-submit {
  background-color: #E2CAFA;
  display: width;
}
.text-form {
  color: #491584;
}
.form-bg {
background-color: rgba(0, 0, 0, 0.75);
}
.text-footer {
color: #9048E2;
}
.footer-background {
background-color: #E2CAFA;
}
.capabilities-button {
background-color: #FDE9FF;
padding: 0.9rem;
padding-left: 1.3rem;
padding-right: 1.3rem;
border-radius: 1rem;
color: #9048E2;
font-weight: 600;
}
.contact-button {
  background-color: #E5FFFA;
  padding: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 1rem;
  color: black;
  font-weight: 600;
}
.landing-hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(144, 72, 226, 0.25), rgba(144, 72, 226, 0.25)), url(/unsplash-leader.jpg);
  background-size: cover;
  background-position: center;
}
.navbar-custom {
  transition: 0.2s background-color;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10
}
.navbar-custom.filled {
  background-color: rgba(255, 255, 255, 0.9);
}
.burger {
  color: #9048E2;
}
.navbar {
  overflow: hidden;
  width: 100%;
  max-width: 0%;
  transition: 0.3s max-width, 0.3s padding;
  background-color: #FDE9FF;
  padding-top: 6rem;
  row-gap: 1rem;
}
.navbar.expand {
  width: 100%;
  max-width: 100%;
  height: 100%;
  z-index: 10;
}
.navbar > a {
transition: 0.2s opacity, 0.3s margin, 0.2s background-color;
width: calc(100% - 4rem);
padding-bottom: 0.5rem;
border-bottom: 2px solid rgba(176, 63, 188, 0.8);
color: #9048E2;
opacity: 0;
}
.navbar.expand > a {
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
  opacity: 1;
}
.navbar.expand >a:hover {
background-color: rgba(244, 214, 247, 0.8);
}